body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: arial;
}
.container{
    position: relative;
    width: 450px;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.container::after{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: linear-gradient(50deg, #ff00008e, #6fff0098);
    pointer-events: none;
    animation: animated 10s linear infinite;
}
@keyframes animated{
    0%{
        filter: blur(65px) hue-rotate(0deg);
    }
    0%{
        filter: blur(65px) hue-rotate(360deg);
    }
}
.form
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    z-index: 1;
}
.form h2{
    margin: 0;
    padding: 0;
    color: #eee;
    font-size: 24px;
}
.form .inputbox{
    width: 100%;
    margin-top: 20px;
}
.form .inputbox input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 18px;
    padding: 5px 0;
    font-family: arial;
    outline: none;
}
::placeholder{
    color: #eee;
}
.form .inputbox input[type="submit"]{
    background: #fff;
    border: none;
    color: #0a0a0a;
    max-width: 100px;
    cursor: pointer;
}